div {
    background-color: red;
    width: 100%;
    height: 100vh;
    transition: all 100s;
    background-image: linear-gradient(black, white, red, blue, yellow, purple, brown, green, aqua);
}

div:hover {
    transform: rotate(36067676876876876876878670000deg);
}